*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: whitesmoke;
    background-color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.ai{
        font-family: "Sacramento", cursive;
        font-weight: 600;
        font-style: normal;
    }  
      


.sidehead{
height: 100vh;
align-items: center;
display: flex;
flex-direction: column;
gap: 7rem;
background-color: rgb(33, 33, 33);
padding-top: 2rem;
padding-right: 4rem;
width: 25%;
position: fixed;
z-index: 60;
}




#menue{
    color: whitesmoke;
    font-size: 1.5rem;
   display: none;
}

.empty{
    width: 1.5rem;
    height: 1.5rem;
    border-top: 3px red solid;
     border-right: 3px red solid;
     position: absolute;
     left: 83%;
     top: 2%;
}
 
.emptytoo{
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 3px red solid;
     border-left: 3px red solid;
     position: absolute;
     left: 0.6%;
     top: 60%;
}

.logo{
    position: relative;
}

.sidehead h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
 
   padding: 0.1px 1rem;
    
}

nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}

nav a:hover{
    color: red;
    transition: 1s;
}

.active{
    color: red;
}

.icons{
    font-size: 1.5rem;
}


.navlist{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px rgb(54, 53, 53) solid;
}

.hero {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 25rem;
     padding-top: 6rem;
      /* display: none;  */
}

.name{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    color: red;
}

.hero-sub h2{
    font-size: 2rem;
}

.hero-sub {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
}



.hero p{
    font-size: 1rem;
    line-height: 2;
    
}

 button{
    background-color: red;
    padding: 1rem 2rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#my-image {
    background-color: black;
    padding: 0rem 0rem;
    width: 80%;
}

.changecontent{
    /* content: ''; */
    color: red;
    /* animation: changetext 10s infinite linear; */
}



.herobanner{
    
    padding: 3rem;
    position: relative;
    
    
}


.imageborder{
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-left: 5px solid red;
    border-top: 5px solid red;
    bottom: 86%;
    left: 1%;
}


.secimageborder{
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    left: 73%;
    bottom: 4.5%;

}

.btns{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}



@keyframes changetext{
    0% {
    writing-mode: 'Web Developer';
    }

    35% {
        clear: 'Web Developer';
    }

    70%{
        writing-mode: 'Graphics Designer';
    }

    100%{
        clear: 'Graphics Designer';
    }
}

.settingcolor{
    display: flex;
    gap: 4rem;
    position: fixed;
    align-items: center;
    top: 3%;
    right: 2%;
    z-index: 80;
    transform: translateX(80%)

}

.settingmode{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings{
    color: whitesmoke;
    font-size: 1.2rem;
    background-color: rgb(33, 33, 33);
    padding: 0.6rem;
    border-radius: 100%;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    cursor: pointer;
}

.rotate{
    
    animation: ruth 8s backwards linear infinite;
}

@keyframes ruth{
    to{
        transform: rotate(360deg);
    }
}


#moon{
    color: whitesmoke;
    font-size: 1.2rem;
    background-color: rgb(33, 33, 33);
    padding: 0.6rem;
    border-radius: 100%;
    display: none;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    cursor: pointer;
}


#sunny{
    color: whitesmoke;
    font-size: 1.2rem;
    background-color: rgb(33, 33, 33);
    padding: 0.6rem;
    border-radius: 100%;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    cursor: pointer;
}

 
.colortext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     gap: 16px;
    background-color: rgb(33, 33, 33);
    padding: 0.5rem;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    border-radius: 3px;
    ;

    
}

.show{
  
     transform: translateX(0%);
     transition: 1s ease-in;
    
}

.colors{
    display: flex;
    gap: 3px;
}

#red{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
}

#orange{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: orange;
    cursor: pointer;
}

#green{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: green;
    cursor: pointer;
}

#blue{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgb(182, 132, 6);
    cursor: pointer;
}

#pink{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgb(237, 109, 131);
    cursor: pointer;
}



.about{
    padding-left: 26rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 1rem;
    /* display: none;  */
}

.aboutme{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}


.long{
    background-color: red;
    width: 4rem;
    height: 0.3rem;
    border-radius: 1rem;
}

.short{
    background-color: red;
    width: 2rem;
    height: 0.3rem;
    border-radius: 1rem;
}

.odd{
    color: red;
}

.aboutme h2{
    font-size: 2rem;
}

.about h3{
    font-size: 1.6rem;
}

.both{
    display: flex;
    gap: 3rem;
}

.colortext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     gap: 16px;
     background-color: rgb(30, 29, 29);
     border: 0.2px solid rgb(50, 50, 50);
    padding: 0.5rem;
    border-radius: 3px;
    
}

.personal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal span{
    font-weight: 700;
}

.personal a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}


.personal p{
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(61, 61, 61);
    width: 110%;
}

.qualify{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.learn{
display: flex;
flex-direction: column;
gap: 1rem;
}
 
.learn p{
    line-height: 1.5rem;
}

.qualifys{
    display: flex;
    justify-content: space-between;
    
    
}

.levelbars{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.level{
    display: flex;
    justify-content: space-between;
}

.levelbar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bar1{
    width: 75%;
    height: 5px;
background-color: red;
border-radius: 1rem;
z-index: 30;
}

.bar2{
    width: 90%;
    height: 5px;
background-color: red;
border-radius: 1rem;
z-index: 30;
}

.bar3{
    width: 40%;
    height: 5px;
background-color: red;
border-radius: 1rem;
z-index: 30;
}

.bar4{
    width: 10%;
    height: 5px;
background-color: red;
border-radius: 1rem;
z-index: 30;
}

.bar1sub{
    width: 90%;
    height: 5px;
    background-color: rgb(61, 61, 61);
    border-radius: 1rem;
    position: absolute;
    right: 1rem;


}

.bar{
    display: flex;
    position: relative;
    
}

.exedu{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 2rem;
}

.edu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;

}

.inneredu{
    display: flex;
    gap: 2rem;
    background-color: rgb(33, 33, 33);
    
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
}

.inneredu p{
    line-height: 2rem;
    letter-spacing: 1px;
}

.linecircle{
    position: relative;
}

.line{
    height: 100%;
    width: 2px;
    background-color: red;
}

.circles{
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 11rem;
    top: 0%;
    left: -0.4rem;
}

.circle{
width: 1rem;
height: 1rem;
background-color: red;
border-radius: 100%;
}

.leveledu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.leveledus{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.date{
    display: flex;
 gap: 0.5rem;
 align-items: center;
}

.calendar{
    font-size: 1rem;
}


.services{
    padding-left: 26rem;
    padding-top: 2rem;
    display: flex;
    
    flex-direction: column;
    gap: 3rem;
    padding-right: 1rem;
margin-bottom: 2rem;
/* display: none; */
}

.services h2{
    margin-top: 2rem;
    font-size: 2rem;
}

.eachservice{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 1rem;
align-items: center;
width: 40%;
box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
}

.eachservice:hover .laptop{
    padding: 1rem;
    border-radius: 100%;
    background-color: red; 
    color: whitesmoke;
    transition: 1s;
}

.eachservice img{
    width: 5rem;
}

.serviceoffer{
    display: flex;
    gap: 1rem;
}

.serviceoffer p{
    line-height: 1.5rem;
    
    text-align:center;
}

.laptop{
    font-size: 2rem;
    color: red;
     padding: 1rem;
    border-radius: 100%;
    
}

.portfolio{
    padding-left: 26rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects img {
    width: 30%;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
}

.projects img:hover{
    scale: 1.1;
    transition: 1s;
}

.projects{
    display: flex;
    gap: 2rem;
}

.absolute{
    position: relative;
    width: 30%;
    overflow: hidden;
}

.absolute img{
    width: 100%;

}



.absolute a{
    position: absolute;
    right: 0%;
bottom: 3rem;

   
    transform: translateX(101%);
}

.absolute button{
    background-color: red;
    color: whitesmoke;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.absolute:hover a{
    transform: translate(0%);
    transition: 1s;
}

.absolute :hover{
    opacity: 0.6;
    transition: 1s;
}

button:hover{
    opacity: 0.6;
    transition: 1s;
}



.project{
    display: flex;
    gap: 11rem;
}

/* .project img{
    width: 20%;
} */

.project .absolute{
    position: relative;
    width: 20%;
    overflow: hidden;
}

.project .absolute img{
    width: 100%;
}


.project img:hover{
    scale: 1.1;
}

.curve img{
    border-radius: 4px;
}

.contact{
    padding-left: 26rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contactcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contactcontent h3{
    color: red;
    font-size: 2rem;
}

.contactcontent h4{
    font-size: 1rem;
}

.groupcontacts{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 8rem;
}

.eachcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    
}

.contacticon{
    font-size: 2rem;
    color: red;
}

.copyright {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
   
    /* padding-block: 20px; */
  }

  .safe-footer:hover{
    color: red;
  
  }

  footer{
    display: flex;
    background-color: rgb(42, 41, 41);
    position: fixed;
    bottom: -1%;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
    padding-left: 20rem;
    align-items: center;
justify-content: center;
gap: 6rem;
z-index: 50;
  }

  .social-list{
    display: flex;
    gap: 10px;

  }

  .social-link{
    color: whitesmoke;
    font-size: 1.5rem;
    
    padding: 3px;
    border-radius: 100%;
  }

  .social-list li{
    list-style: none;
  }

  .social-link:hover{
    color: red;
    transition: 1s;
  }
  

@media screen and (max-width : 768px){
    .sidehead{
        transform: translateX(-500%);
        /* display: none; */

    }

    .sideheadcomein{
        z-index: 40;
        width: 60%;
        opacity: 0.9;
        transform: translate(0%);
        transition: 1s;
    }

    #menue{
        display: block;
        color: whitesmoke;
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
        background-color: rgb(30, 29, 29);
        border: 0.2px solid rgb(50, 50, 50);
        border-radius: 3px;
        padding: 0.2rem;
        position: fixed;
        z-index: 50;
    }


    

    .hero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
       padding: 6rem 0rem 2rem 0rem;
          /* display: none;  */
    }
    
    .hero-sub {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
        margin-bottom: 1rem;
    }

    #my-image {
        background-color: black;
        padding: 0rem 0rem;
        width: 90%;
        margin-left: 1rem;
    }

    .herobanner{
    
        padding: 1rem;
        position: relative;
        
        
    }
    
    
    .imageborder{
        width: 4rem;
        height: 4rem;
        position: absolute;
        border-left: 5px solid red;
        border-top: 5px solid red;
        bottom: 86%;
        left: 4%;
    }
    
    
    .secimageborder{
        width: 4rem;
        height: 4rem;
        position: absolute;
        border-right: 5px solid red;
        border-bottom: 5px solid red;
        left: 78%;
        bottom: 1%;
    
    }

    .about{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        /* display: none; */
    }
    
    .aboutme{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    
    .long{
        background-color: red;
        width: 4rem;
        height: 0.3rem;
        border-radius: 1rem;
    }
    
    .short{
        background-color: red;
        width: 2rem;
        height: 0.3rem;
        border-radius: 1rem;
    }
    
    .odd{
        color: red;
        
    }
    
    .aboutme h2{
        font-size: 2rem;
    }
    
    .about h3{
        font-size: 1.6rem;
    }
    
    .both{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .qualifys{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    
    .levelbars{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .personal p{
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(61, 61, 61);
        width: 100%;
    }

    .exedu{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .services{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
    margin-bottom: 2rem;
    /* display: none; */
    }

    .services h2{
        margin-top: 3rem;
    }

    .eachservice{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgb(33, 33, 33);
        border-radius: 10px;
        padding: 1rem;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 6px -2px rgba(48, 48, 48, 1);
    }
    
    

    .serviceoffer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    

    .portfolio{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        
        gap: 3rem;
    }

    .project .absolute{
        position: relative;
        width: 95%;
        overflow: hidden;
    }
    
    
    .absolute{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .projects img {
        width: 100%;
    }
    
    .projects img:hover{
        scale: 1;
    }
    
    .projects{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .project{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .project img{
        width: 100%;
    }

    .project img:hover{
        scale: 1;
    }
    
    .contact{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    } 

    .groupcontacts{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .edu{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 95%;
    
    }
    


    footer{
        display: flex;
        flex-direction: column;
        padding: 10px 7px 10px 7px;
        gap: 10px;
    }
    
}

@media screen and (max-width : 460px) {
    

    
    
    .contactcontent h3{
        color: red;
        font-size: 1.7rem;
        text-align: center;
    }
    .contactcontent h4{
        font-size: 0.8rem;
        text-align: center;
    }

    .btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        padding: 10px 7px 10px 7px;
        gap: 10px;
    }



    /* .btns a button{
        font-size: 1.5rem;
        padding: 1rem 3rem;
    } 
        
    
    
    
      button{
            position: absolute;
            right: 0%;
        bottom: 3rem;
            background-color: orange;
            color: white;
            padding: 1rem 2rem;
            border: none;
            transform: translateX(101%);
        }

        .absolute:hover button{
            transform: translate(0%);
            transition: 1s;
        }

        img:hover{
            opacity: 0.6;
            transition: 1s;
        }*/


}


.toprightr{
    border-top: 3px red solid;
    border-right: 3px  red solid; 
}

.bottomleftr{
    border-bottom:3px  red solid;
    border-left:3px red solid; 

}



.toprighto{
    border-top: 3px orange solid;
    border-right: 3px  orange solid; 
}

.bottomlefto{
    border-bottom:3px orange solid;
    border-left:3px orange solid; 

}

.toprightg{
    border-top: 3px green solid;
    border-right: 3px  green solid; 
}

.bottomleftg{
    border-bottom:3px green solid;
    border-left:3px green solid; 

}

.toprightb{
    border-top: 3px goldenrod solid;
    border-right: 3px  goldenrod solid; 
}

.bottomleftb{
    border-bottom:3px goldenrod solid;
    border-left:3px goldenrod solid; 

}

.toprightp{
    border-top: 3px rgb(237, 109, 131) solid;
    border-right: 3px  rgb(237, 109, 131) solid; 
}

.bottomleftp{
    border-bottom:3px rgb(237, 109, 131) solid;
    border-left:3px rgb(237, 109, 131) solid; 

}



.toprightrl{
    border-top: 5px red solid;
    border-right: 5px  red solid; 
}

.bottomleftrl{
    border-bottom:5px  red solid;
    border-left:5px red solid; 

}



.toprightol{
    border-top: 5px orange solid;
    border-right: 5px  orange solid; 
}

.bottomleftol{
    border-bottom:5px orange solid;
    border-left:5px orange solid; 

}

.toprightgl{
    border-top: 5px green solid;
    border-right: 5px  green solid; 
}

.bottomleftgl{
    border-bottom:5px green solid;
    border-left:5px green solid; 

}








.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
    width: 90%;

}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    background-color: rgb(33, 33, 33);
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contact a{
    color: whitesmoke;
    text-decoration: none;
}



#send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: red;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: 3rem;
    cursor: pointer;
}
#send-btn:hover{
    opacity: 0.6;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}

.active{
    color: red;
}


